extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Steven Gaona

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I’m a web developer with a strong foundation in JavaScript, Node.js, and Express. I enjoy building clean, responsive interfaces and writing server side logic that keeps everything running smoothly. I'm focused on creating projects that are interactive and built to last. 


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li GitHub
          li C#
          li Mobile Development
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 520-471-7183
          li stevegaona21@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/steven-gaona-76a943126/') LinkedIn
        a.btn-link(href='https://github.com/sgaona21') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back