extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Steven Gaona

        p Software Developer | Web & Mobile


        .about-bio

          p I’m a software developer with a strong foundation in JavaScript, Node.js, and Express. I enjoy building clean, responsive interfaces and writing server side logic that keeps everything running smoothly. I'm focused on creating projects that are interactive and built to last. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li GitHub
          li C#
          li Mobile Development
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 520-471-7183
          li stevegaona21@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/steven-gaona-76a943126/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/sgaona21' target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back