extends layout.pug

block content

  article.portfolio-intro

    h1 Projects

    p A collection of web applications that showcase my programming abilities


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt='Thumbnail image for project')
            h5=project.project_name

